[submodule "dotfiles"]
	path = home-talyz-nixpkgs/dotfiles
	url = git@github.com:talyz/dotfiles.git
[submodule "modules/emacs-with-use-package-pkgs"]
	path = modules/emacs-with-use-package-pkgs
	url = git@github.com:talyz/nix-emacs-with-use-package-pkgs.git
[submodule "machines/flora/nixpkgs"]
	path = machines/flora/nixpkgs
	url = git@github.com:talyz/nixpkgs.git
[submodule "modules/emacs-overlay"]
	path = modules/emacs-overlay
	url = https://github.com/nix-community/emacs-overlay
[submodule "machines/zen/nixpkgs"]
	path = machines/zen/nixpkgs
	url = git@github.com:talyz/nixpkgs.git
[submodule "home-manager"]
	path = modules/home-manager
	url = git@github.com:talyz/home-manager.git
[submodule "machines/evals/nixpkgs"]
	path = machines/evals/nixpkgs
	url = git@github.com:talyz/nixpkgs.git
