[submodule "dotfiles"]
	path = modules/dotfiles
	url = git@github.com:talyz/dotfiles.git
[submodule "modules/emacs-overlay"]
	path = modules/emacs-overlay
	url = https://github.com/nix-community/emacs-overlay
[submodule "machines/zen/nixpkgs"]
	path = modules/nixpkgs
	url = git@github.com:talyz/nixpkgs.git
[submodule "modules/impermanence"]
	path = modules/impermanence
	url = git@github.com:nix-community/impermanence.git
[submodule "modules/home-manager/"]
	url = https://github.com/nix-community/home-manager.git
[submodule "modules/dracula-emacs"]
	path = modules/dracula-emacs
	url = git@github.com:talyz/dracula-emacs.git
[submodule "home-manager"]
	path = modules/home-manager
	url = https://github.com/nix-community/home-manager.git
